name: Build and Deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build, Analyze, and Deploy
    runs-on: self-hosted

    steps:
      # Checkout code
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # Set up JDK 21
      - name: Set up JDK 21
        uses: actions/setup-java@v1
        with:
          java-version: 21

      # Install Maven
      - name: Set up Maven
        uses: stCarolas/setup-maven@v4.5
        with:
          maven-version: 3.8.8

      # Build and SonarQube analysis
      - name: Build and analyze
        shell: bash
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
        run: |
          mvn -B verify sonar:sonar -Dsonar.project.settings=./sonar-project.properties

      # Build Docker image
      - name: Build Docker image
        shell: bash
        run: |
          docker build -t carikk/quality-gate:latest .

      # Login to DockerHub
      - name: Log in to DockerHub
        shell: bash
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      # Push Docker image
      - name: Push Docker image
        shell: bash
        run: |
          docker push carikk/quality-gate:latest

      # Setup kubeconfig
      - name: Set up kubeconfig
        shell: bash
        run: |
          mkdir -p $HOME/.kube
          echo "${{ secrets.KUBECONFIG_CONTENT }}" > $HOME/.kube/config
          kubectl config use-context docker-desktop
          kubectl config set-context --current --namespace=ensakh

      # Verify Kubernetes
      - name: Verify Kubernetes context
        shell: bash
        run: |
          kubectl config current-context
          kubectl get namespaces

      # Deploy to Kubernetes
      - name: Deploy to kube
        shell: bash
        run: |
          kubectl apply -f k8s/deployment.yaml

      # Verify deployment
      - name: Verify Kubernetes deployment
        shell: bash
        run: |
          kubectl get nodes
          kubectl get namespaces
          kubectl get pods
